# NPM/Node
node_modules
.ntvs_analysis.dat*
npm-debug*

# IDE - VS Code is not listed here intentionally
/.idea/

# Code Coverage
**/coverage/

**/testresults/

generators/**/*.js*
test/**/*.js*
!generators/app/templates/**/*.js
!generators/app/templates/**/*.json
