# NPM/Node
node_modules
.ntvs_analysis.dat*
npm-debug*

# IDE
/.vscode/
/.idea/

# Code Coverage
**/coverage/

**/testresults/

generators/**/*.js*
test/unit/app/**/*.js*
!generators/app/templates/**/*.js
!generators/app/templates/**/*.json
