# NPM/Node
node_modules
.ntvs_analysis.dat*
npm-debug*
*.tar.*
*.tgz.*

# IDE - VS Code is not listed here intentionally
/.idea/

# Code Coverage
**/coverage/
.coverage
**/testresults/
.testresults
/.nyc_output/

vsts-publish/
.vsts-publish/

generators/**/*.js*
test/**/*.js
test/**/*.js.map
!generators/app/templates/**/*.js
!generators/app/templates/**/*.json
generator-swell*.tar*
generator-swell*.tgz*
