build/
gulp/
coverage/
.coverage/
test/
testresults/
.testresults/
.circleci/
.vscode/
gulp/
docs/
.github/
/.codeclimate.yml
/.eslintignore
/.eslintrc.js
/.jshintignore
/.jshintrc
/.travis.yml
/gulpfile.js
/jsconfig.json
/sonar-project.properties
generators/**/*.js.map
generators/**/*.ts
!generators/app/templates/**/*.ts
/appveyor.yml
backup.circle.yml
/tsconfig.json
/tslint.json
newtslint.json
oldtslint.json
*.tgz*
*.tar*
/CONTRIBUTING.md
/.huskyrc.json
/.codeclimate.yml
.nyc_output/