.coverage/
.nyc_output/
.testresults/
.circleci/
.github/
.vscode/
docs/
test/
generators/**/*.js.map
generators/**/*.ts
!generators/app/templates/**/*.ts
/.appveyor.yml
/.eslintignore
/.eslintrc.js
/.huskyrc.json
/CONTRIBUTING.md
/sonar-project.properties
/tsconfig.json
/tslint.json
*.tgz*
*.tar*
npm-debug.log
.ntvs_analysis.dat*

# Legacy Content
build/
gulp/
coverage/
testresults/
/.codeclimate.yml
/.jshintignore
/.jshintrc
/.travis.yml
/gulpfile.js
/jsconfig.json
backup.circle.yml
newtslint.json
oldtslint.json
