/build/
/coverage/
/.coverage/
/test/
/testresults/
/.testresults/
/.codeclimate.yml
/.eslintignore
/.eslintrc.js
/.jshintignore
/.jshintrc
/.travis.yml
/gulpfile.js
/jsconfig.json
/sonar-project.properties
/.npmignore
generators/**/*.js.map
generators/**/*.ts
!generators/app/templates/**/*.ts